In [85]:
# Import dependencies
import pandas as pd
import requests
import time
import csv

In [48]:
state_abbrev = {'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR',
    'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE',
    'District of Columbia': 'DC', 'Florida': 'FL', 'Georgia': 'GA', 'Guam': 'GU', 
    'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA',
    'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME',
    'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN',
    'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV',
    'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY',
    'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR',
    'Pennsylvania': 'PA', 'Puerto Rico': 'PR', 'Rhode Island': 'RI', 'South Carolina': 'SC',
    'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT',
    'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [49]:
states = list(state_abbrev.values())

In [100]:
# API request for each ACTIVE site by State ID, then append into one DataFrame. 
# Notes:
# 1) multiple attempts were made to request the data in one lump without a loop; however, they either did not 
# return any data, or were prohibitively slow
# 2) EPA includes some inactive site in the Active table in their DataBase; will be cleaned at later stage. 
x = 0
for state in states:
    try:
        request = requests.get(f'https://data.epa.gov/efservice/SEMS_ACTIVE_SITES/SITE_STATE/CONTAINING/{state}/JSON').json()
        temp_df = pd.DataFrame(request)
        if x == 0:
            sf_active_df = temp_df.copy()
            print(f'{state} added to DataFrame')
            x = 1
        else:
            sf_active_df = pd.concat([sf_active_df, temp_df])
            print(f'{state} added to DataFrame')
    except Exception:
        print(Exception)
        print(f'Exception occurred on {state}')
print('----------------------\n\
Data download complete \n\
----------------------')

AL added to DataFrame
AK added to DataFrame
AZ added to DataFrame
AR added to DataFrame
CA added to DataFrame
CO added to DataFrame
CT added to DataFrame
DE added to DataFrame
DC added to DataFrame
FL added to DataFrame
GA added to DataFrame
GU added to DataFrame
HI added to DataFrame
ID added to DataFrame
IL added to DataFrame
IN added to DataFrame
IA added to DataFrame
KS added to DataFrame
KY added to DataFrame
LA added to DataFrame
ME added to DataFrame
MD added to DataFrame
MA added to DataFrame
MI added to DataFrame
MN added to DataFrame
MS added to DataFrame
MO added to DataFrame
MT added to DataFrame
NE added to DataFrame
NV added to DataFrame
NH added to DataFrame
NJ added to DataFrame
NM added to DataFrame
NY added to DataFrame
NC added to DataFrame
ND added to DataFrame
OH added to DataFrame
OK added to DataFrame
OR added to DataFrame
PA added to DataFrame
PR added to DataFrame
RI added to DataFrame
SC added to DataFrame
SD added to DataFrame
TN added to DataFrame
TX added to DataFrame
UT added to DataFrame
VT added to DataFrame
VA added to DataFrame
WA added to DataFrame
WV added to DataFrame
WI added to DataFrame
WY added to DataFrame
Data download complete

In [39]:
sf_active_df

,RG,SITE_ID,SITE_EPA_ID,SITE_NAME,SITE_STRT_ADRS1,SITE_STRT_ADRS2,SITE_CITY_NAME,SITE_STATE,SITE_ZIP_CODE,SITE_CONG_DISTRICT,SITE_CNTY_NAME,SITE_FIPS_CODE,LATITUDE,LONGITUDE,ALT_AGREEMENT,NPL,FF,NON_NPL_STATUS
0,4,0406154,AL0000047829,WEST END LANDFILL,HWY 202 AND ADAMS ST,None,ANNISTON,AL,36202,03,CALHOUN,01015,NaN,NaN,N,Not on the NPL,N,N
1,4,0406158,AL0000059147,ETOWAH COUNTY (RIDGEVILLE) LANDFILL,NOBLE HILL ROAD,None,RIDGEVILLE,AL,35954,04,ETOWAH,01055,NaN,NaN,N,Not on the NPL,N,N
2,4,0406176,AL0000132662,FUSSY HILL DRUM DUMP,461 FUSSY HILL ROAD,None,NEW MARKET,AL,35761,05,MADISON,01089,NaN,NaN,N,Not on the NPL,N,N
3,4,0406800,AL0000301747,JONES PROPERTY,595 GRADY STREET,None,MONTGOMERY,AL,36108,None,MONTGOMERY,01101,NaN,NaN,N,Not on the NPL,N,N
4,4,0406321,AL0001024793,ILCO SATELLITE SITES,INTERSECTION OF HWY 78 AND HWY 411,None,LEEDS,AL,35094,06,JEFFERSON,01073,NaN,NaN,N,Not on the NPL,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,8,0820977,WYN000820977,HARTVILLE (TRONOX),Hartville Hwy 270 near the town of Hartville,None,HARTVILLE,WY,82215,01,PLATTE,56031,NaN,NaN,N,Not on the NPL,N,N
37,8,0820979,WYN000820979,PETROTOMICS MILL (TRONOX),"Intersection of Wyoming 487 and Shriley Ridge Rd,",approximately 30 miles north of Medicine Bow,MEDICINE BOW,WY,82329,01,CARBON,56007,NaN,NaN,N,Not on the NPL,N,N
38,8,0820999,WYN000820999,THOMES AVENUE MERCURY SPILL,Intersection of W. 5th Street and Thomes Avenue,None,CHEYENNE,WY,82007,01,LARAMIE,56021,NaN,NaN,N,Not on the NPL,N,N
39,8,0821050,WYN000821050,YELLOWSTONE NATIONAL PARK GASOLINE SPILL,Yellowstone National Park,None,TOWER JUNCTION,WY,82190,00,PARK,56029,NaN,NaN,N,Not on the NPL,N,N
40,8,0801762,WY0009138800,WARREN F.E. AFB ATLAS %22D%22 MISSILE SITE # 1,FIFTEEN MILES NORTHWEST OF CHEYENNE,"TOWNSHIP: 16N, RANGE: 68W, SECTION: 11",CHEYENNE,WY,82009,01,LARAMIE,56021,NaN,NaN,N,Not on the NPL,Y,N

In [74]:
states_debug = ['LA']

In [126]:
# API request for each ARCHIVED site by State ID, then append into one DataFrame. 
# Notes:
# 1) multiple attempts were made to request the data in one lump without a loop; however, they either did not 
# return any data, or were prohibitively slow
# 2) Runtime for this request is much slower than the ACTIVE site request. 
x = 0
for state in states_debug:
    try:
        request = requests.get(f'https://data.epa.gov/efservice/SEMS_ARCHIVED_SITES/SITE_STATE/CONTAINING/{state}/JSON').json()
        temp_df = pd.DataFrame(request)
        if x == 0:
            sf_archived_df = temp_df.copy()
            print(f'{state} added to DataFrame')
            x = 1
        else:
            sf_archived_df = pd.concat([sf_archived_df, temp_df])
            print(f'{state} added to DataFrame')
    except Exception:
        print(Exception)
        print(f'Exception occurred on {state}')

<class 'Exception'>
Exception occurred on FL

In [109]:
exception_states = ('FL GA IA KS KY MD MA MN MO MT NE NJ NM NY ND OH PA PR RI SD TX').split()

In [107]:
x = 0
exception_states = []
for state in states:
    try:
        request = requests.get(f'https://data.epa.gov/efservice/SEMS_ARCHIVED_SITES/SITE_STATE/CONTAINING/{state}/CSV')
#         url_data = request.content
        temp_df = pd.DataFrame(request)
        if x == 0:
            sf_archived_df_csv = temp_df.copy()
            print(f'{state} added to DataFrame')
            x = 1
        else:
            sf_archived_df_csv = pd.concat([sf_archived_df, temp_df])
            print(f'{state} added to DataFrame')
    except Exception:
        print(Exception)
        print(f'Exception occurred on {state}')
        exception_states.append(state)

AL added to DataFrame
AK added to DataFrame
AZ added to DataFrame
AR added to DataFrame
CA added to DataFrame
CO added to DataFrame
CT added to DataFrame
DE added to DataFrame
DC added to DataFrame
FL added to DataFrame
GA added to DataFrame
GU added to DataFrame
HI added to DataFrame
ID added to DataFrame
IL added to DataFrame
IN added to DataFrame
IA added to DataFrame
KS added to DataFrame
KY added to DataFrame
LA added to DataFrame
ME added to DataFrame
MD added to DataFrame
MA added to DataFrame
MI added to DataFrame
MN added to DataFrame
MS added to DataFrame
MO added to DataFrame
MT added to DataFrame
NE added to DataFrame
NV added to DataFrame
NH added to DataFrame
NJ added to DataFrame
NM added to DataFrame
NY added to DataFrame
NC added to DataFrame
ND added to DataFrame
OH added to DataFrame
OK added to DataFrame
OR added to DataFrame
PA added to DataFrame
PR added to DataFrame
RI added to DataFrame
SC added to DataFrame
SD added to DataFrame
TN added to DataFrame
TX added to DataFrame
UT added to DataFrame
VT added to DataFrame
VA added to DataFrame
WA added to DataFrame
WV added to DataFrame
WI added to DataFrame
WY added to DataFrame

In [124]:
states_debug = ["FL"]

In [122]:
x = 0
for state in states_debug:
    try:
        request = requests.get(f'https://data.epa.gov/efservice/SEMS_ARCHIVED_SITES/SITE_STATE/CONTAINING/{state}/CSV').csv()
        print("Error1")
        csv_reader = csv.reader(request.splitlines(), delimiter=',')
        print("Error2")
        temp_df = pd.DataFrame(url_content)
        print("Error3")
        if x == 0:
            sf_archived_df = temp_df.copy()
            print(f'{state} added to DataFrame')
            x = 1
        else:
            sf_archived_df = pd.concat([sf_archived_df, temp_df])
            print(f'{state} added to DataFrame')
    except Exception:
        print(Exception)
        print(f'Exception occurred on {state}')
print('----------------------\n\
Data download complete \n\
----------------------')

<class 'Exception'>
Exception occurred on AL
----------------------
Data download complete
----------------------

In [125]:
x = 1
for state in states_debug:
    request = requests.get(f'https://data.epa.gov/efservice/SEMS_ARCHIVED_SITES/SITE_STATE/CONTAINING/{state}/CSV').csv()
    print("Error1")
    csv_reader = csv.reader(request.splitlines(), delimiter=',')
    print("Error2")
    temp_df = pd.DataFrame(url_content)
    print("Error3")
    if x == 0:
        sf_archived_df = temp_df.copy()
        print(f'{state} added to DataFrame')
        x = 1
    else:
        sf_archived_df = pd.concat([sf_archived_df, temp_df])
        print(f'{state} added to DataFrame')

AttributeError: 'Response' object has no attribute 'csv'

In [127]:
x = 1
for state in states_debug:
    request = requests.get(f'https://data.epa.gov/efservice/SEMS_ARCHIVED_SITES/SITE_STATE/CONTAINING/{state}/JSON').json()
    print("Error1")
    temp_df = pd.DataFrame(request)
    print("Error3")
    if x == 0:
        sf_archived_df = temp_df.copy()
        print(f'{state} added to DataFrame')
        x = 1
    else:
        sf_archived_df = pd.concat([sf_archived_df, temp_df])
        print(f'{state} added to DataFrame')

JSONDecodeError: Extra data: line 1 column 6 (char 5)

In [112]:
sf_archived_df

                                                     0
0    b'SEMS_ARCHIVED_SITES.RG,SEMS_ARCHIVED_SITES.S...
1    b'ITES.SITE_STRT_ADRS1,SEMS_ARCHIVED_SITES.SIT...
2    b'ARCHIVED_SITES.SITE_ZIP_CODE,SEMS_ARCHIVED_S...
3    b'FIPS_CODE,SEMS_ARCHIVED_SITES.ALT_AGREEMENT,...
4    b'MS_ARCHIVED_SITES.LATITUDE,SEMS_ARCHIVED_SIT...
..                                                 ...
813  b'"BAY BRIDGE RD US ROUTE 90","","MOBILE","AL"...
814  b'008150286","GULF PLATING COMPANY INC","406 S...
815  b'N","",""\n"4","0400143","ALD008150617","COUR...
816  b'Not on the NPL","N","N","",""\n"4","0400145"...
817  b'"36426","01","ESCAMBIA","01053","N","Not on ...

[818 rows x 1 columns]

In [51]:
# Saves as .csv file
sf_active_df.to_csv('resources/superfund_sites.csv', index = False)

In [56]:
# Replaces "%26" with "&"; data from EPA Databases replaces "&" with "%26"
def replace_amp(string):
    return string.replace("%26", "&")

In [102]:
print('----------------------\n\
Data download complete \n\
----------------------')

----------------------
Data download complete
----------------------

In [108]:
sf_archived_df_csv2

                                                     0
0    b'SEMS_ARCHIVED_SITES.RG,SEMS_ARCHIVED_SITES.S...
1    b'ITES.SITE_STRT_ADRS1,SEMS_ARCHIVED_SITES.SIT...
2    b'ARCHIVED_SITES.SITE_ZIP_CODE,SEMS_ARCHIVED_S...
3    b'FIPS_CODE,SEMS_ARCHIVED_SITES.ALT_AGREEMENT,...
4    b'MS_ARCHIVED_SITES.LATITUDE,SEMS_ARCHIVED_SIT...
..                                                 ...
245  b'RCURY SPILL","115 SOUTH NICHOLS STREET","","...
246  b'8","0801681","WYSFN0801681","BLM-RAWLINS LAN...
247  b'","Not on the NPL","Y","Y","",""\n"8","08008...
248  b'"WY","82637","01","CONVERSE","56009","N","No...
249  b'I W OF RAWLINS","","TIPTON","WY","82301","01...

[51879 rows x 1 columns]